<div>
  <h2><%= recipe.title %></h2>
  <div>
    <img src=<%= recipe.image %> alt=<%= recipe.title %> width="100" height="100"/>
  </div>
  <h3>Ingredients:</h3>
  <ul>
    <% recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
</div>